@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>Port<span>fólio</span></h1>
        </div>
        <div class="options">
            <h2><i>Home</i></h2>
            <h2><i>About</i></h2>
            <h2><i>Tecnhical</i></h2>
            <h2><i>Projects</i></h2>
        </div>
    </div>


    <div class="content">
        <div class="title-name">
            <i><h1>Victor <span>Liger</span></h1></i>
        </div>
        <div class="subtitle-name">
            <h2><i>Studant Software Engeine</i></h2>
            <span><h2><i>Developer Full-Stack</i></h2></span>
        </div>
        <div class="imagem">
            <img src="programmer-animate.svg" alt="">
        </div>
    </div>


    <div class="content2">
        <div class="divisor">
            <h1><i>About</i></h1>
        </div>

        <div class="container-texts">
            <div class="divisor-meio"></div>
            <div class="container-text1">
                <div class="title-text1">
                    <h1>Quem eu sou?</h1>
                </div>
            </div>

            <div class="container-text2">
                <div class="title-text2">
                    <h1>Quais as minhas habilidades?</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="menu"></div>
    <div class="footer"></div>
</body>
</html>